body{
    font-family:Montserrat, sans-sherif;
}

main{
    width:60%;
    margin:0 auto;
}

h1{
    font-size:3rem;
    font-weight:100;
}

h1 + h2{
    margin-top: 10px;
}

h1, h2, h3{
    font-family:Roboto, sans-sherif;
    font-weight:100;
}