h2{
    color: #5FCFFC;
    background-color: rgb(89,151,150);
}

button {
    color:magenta;
    background-color:cyan;
}

p {
    color:olive;
    background:orange;
}

body{
    background-color: #000000;
}