html{
    font-size:30px;
}

section{
    background-color:#ffafcc;
    width:400px;
    height:400px;
}

div{
    background-color:#a2d2ff;
    width:70%;
    height:20%;
}

h1{
    font-size:40px;
    border:1px solid black;
    line-height:200%;
}

h2{
    font-size:5em;
    margin-left:1em;
}

p{
    font-size:0.8em;
}

article{
    font-size:15px;
}

button{
    font-size:1em;
    padding: 0 1em;
    border-radius:0.5em;
    background-color:#00b4d8;
    color:white;
}

ul{
    font-size:1.5em;
}

#rems h2{
    font-size:3rem;
}

#rems h3{
    font-size:2rem;
}

#rems ul{
    font-size:0.8rem;
}

#rems button{
    font-size:1.5rem;
}